<h1>Cart 1</h1>
<a href="/"><button class="btn btn-success">HOME</button></a>
<ul>
    {{#if cart.length}}
    <div class="d-flex flex-wrap justify-content-Around">
        {{#each cart}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-text">Title: {{this.title}}</h2>
                <h5 class="card-title">prodId: {{this.id}}</h5>
                <p class="card-text">quantity: {{this.quantity}}</p>
                <p class="card-text">price: ${{this.price}}</p>
                <p class="card-text">total: ${{this.total}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
        <p>Total : {{total}}</p>
    <br>
    <form action={{purchase}}  method="get">
        <input type="submit" value="PURCHASE" class="btn btn-success" >
    </form>
    {{else}}
    <h3>No cart exists</h3>

    
    {{/if}}
</ul>